@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
    Przykładowy adres<br />
    Ulica, Kod pocztowy<br />
    <abbr title="Phone">Tel:</abbr>
    <a href="tel:+00 123 456 789">123 456 789</a>
</address>

<address>
    <strong>e-mail:</strong>   <a href="mailto:mail@example.com">mail@example.com</a>
</address>