@model jsTree3.Models.JsTree3Node

@{
    ViewBag.Title = "Start";
}

@Styles.Render("~/Content/jstree")

<h1>Aktualna struktura drzewa:</h1>
<div id="datadb"></div>


@Scripts.Render("~/bundles/jstree")

<script>
    $('#datadb').jstree({
        'core': {
            'data':@Html.Raw(Json.Encode(Model))
        }
    });
</script>
