@model jsTree3.Models.JsTree3Node

@{
    ViewBag.Title = "Start";
}

@Styles.Render("~/Content/jstree")

<h1>Aktualna struktura drzewa:</h1>
<div id="dataView"></div>


@Scripts.Render("~/bundles/jstree")

<!--/Views/Home/Index-->
<script>
    $.jstree.defaults.core.themes.variant = "large";
    $('#dataView').jstree({
        'core': {
            //'check_callback': CheckOperation(),
            'data':@Html.Raw(Json.Encode(Model)),
        },
    });
</script>
